*{
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    color: #222222;
}

body, h1, h2, li, ul, a, p{
    margin: 0px;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    
}

img{
    /*faz imagens responsivas*/
    display: block;
    max-width: 100%; /*Para a imagem redimensionar de acordo com o container*/
}

/*Parte Superior*/
.upper-infos-bg{
    background-color: #122ab2;
    color:rgb(248, 248, 248);
    padding-top: 10px
}

.upper-infos{
    display: flex;
    margin: 0 auto;
    max-width: 1250px;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: stretch;
}

.upper-infos p, .upper-infos a{
    margin: 0px 15px 10px 15px;
}

.upper-infos a{
    color:rgb(248, 248, 248);
}

/*Header*/
.header-bg{
    background-color: #2c70ff;
}

.header{
    max-width: 1250px;
    margin: 0 auto;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header a{
    color: rgb(248, 248, 248);
}

.header-logo a{
    font-weight: bold;
    font-size: 36px;
    margin: 0 15px; /*quando diminui ele não fica grudado no container*/
}

.header-itens ul{ /*Navbar*/
    display: flex;
    flex-wrap: wrap;
}

.header-itens a{ /*Navbar*/
    font-size: 20px;
    display: block;
    padding: 0px 15px; 
    transition: 0.3s;
}

.header-itens a:hover{
    color:#122ab2;
}


/*Título principal*/
.main-title{
    font-size: 48px;
    line-height: 1;
    max-width: 1250px;
    margin: 60px auto;
    padding: 0 15px;
}

/*Sobre*/
.about{
    border-top: #2c70ff 2px solid;
    border-bottom: #2c70ff 2px solid;
    max-width: 1250px;
    margin: 0 auto;
    padding: 60px 0; /*padding top botton*/
    display: flex;
    flex-wrap: wrap;
}

.about-info{
    flex: 2 1 300px;
    padding: 0 15px;
}

.about-info h1{
    font-size: 48px;
}

.about-info p{
    font-size: 20px;
    color: #7c7c7c;
    line-height: 1.4; /*Espaçamento entre linhas padrão*/
    margin: 24px auto;
    text-align: justify;

}

.about-img{
    flex: 1 1 160px; /*quebrar a imagem quando chegar em 160px*/
    margin: 0 30px;
}

/*Produtos*/
.products{
    max-width: 1250px;
    margin: 60px auto; /*centralizar*/
}

.products h1{
    font-size: 48px;
    margin: 60px 15px;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 15px
}

.products-item{
    flex: 1;
    min-width: 180px;
    margin: 10px;
}

.products-item h2{
    font-size: 48px;
    color: #a4a4a4;
    background-color: #f7f7f7;
    padding: 60px 20px;
}

.purple{
    border-top: 8px solid #ae81ff;
}

.pink{
    border-top: 8px solid #f9265e;
}

.blue{
    border-top: 8px solid #66d9eb;
}


/*Preços*/
.price{
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.card-price{
    flex: 1 1 260px;
    margin: 20px;
    border: solid 4px white;
    padding: 20px;
    align-items: center;
}

.card-price h2{
    padding: 20px 0;
    font-size: 42px;
    color: #a4a4a4;
    text-align: center;
}

.card-price span{
    border-top: solid 4px white;
    border-bottom: solid 4px white;
    padding: 10px 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    display: block; /*o span é display in line então precisa definir pra aplicar modificações*/
    max-width: 300px;
    margin: 0  auto;
}

.card-price sup{
    font-size: 24px;
}

.card-price ul{
    padding: 15px auto;
    line-height: 2.5;
    color: #7c7c7c;
    flex: 1;
}

.card-price li{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    font-style: italic;
    font-size: 20px;
}

.card-price li::after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #2c70ff;
    border-radius: 3px;
    align-self: center;
}


.card-price a{
    display: block;
    border: #222222 solid 4px;
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
    color: #222222;
    font-size: 36px;
    font-weight: bold;
}

@media (max-width: 800px){
    .price{
        padding-left: 10px;
        padding-right: 10px;
    }
    .price .card-price:nth-child(3){
        order: -2;
    }
    .price .card-price:nth-child(2){
        order: -1;
    }
    .price .card-price:nth-child(1){
        order: 0;
    }
}